@model leave_management.Models.CreateLeaveRequestVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                @Html.DropDownListFor(q => q.LeaveTypeId, new SelectList(Model.LeaveTypes, "Value", "Text"), "Select Leave Type", new { @class = "form-control" })
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control " id="From" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control " id="To" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequestComments" class="control-label"></label>
                <textarea asp-for="RequestComments" class="form-control"></textarea>
                <span asp-validation-for="RequestComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="MyLeave" class="btn btn-outline-info"><i class="fa fa-arrow-left"></i> Back to List</a>
                <input type="submit" value="Request Leave" class="btn btn-success" />

            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    <script>
  $( function() {
      //$(".datepicker").datepicker({
      //    dateFormat: "yy-mm-dd",
      //    minDate: 0
      //});

      $("#From").datepicker({
          dateFormat: "yy-mm-dd",
          minDate: 0,
          onSelect: function (selected) {
              $("#To").removeAttr("disabled")
              var dt = new Date(selected);
              dt.setDate(dt.getDate() + 1);
              $("#To").datepicker("option", "minDate", dt);
          }
      });
      $("#To").datepicker({
          dateFormat: "yy-mm-dd",
          onSelect: function (selected) {
              var dt = new Date(selected);
              dt.setDate(dt.getDate() - 1);
              $("#From").datepicker("option", "maxDate", dt);
          }
      });
  });
    </script>
}
